<div class="w3-padding w3-margin ">
    <div class="w3-right w3-margin-bottom">
        <SignOutContainer />
    </div>
    <div>
        {{#x-tab  tab-style="tabs-style-linetriangle" as |tab| }}
        {{#x-tab/navigation}}
        {{#x-tab/nav-wrap paneId="TeamsList" tab=tab}}
        <span>Teams List</span>
        {{/x-tab/nav-wrap}}
        {{#x-tab/nav-wrap paneId="GamesBoard" tab=tab}}
        <span>Games Board</span>
        {{/x-tab/nav-wrap}}
        {{#x-tab/nav-wrap paneId="About" tab=tab}}
        <span>About</span>
        {{/x-tab/nav-wrap}}
        {{/x-tab/navigation}}
        <div class="content-wrap">
            {{#tab.pane elementId="TeamsList"}}
            <h1>Teams List</h1>
            <p>This is "Teams List" content</p>
            {{/tab.pane}}
            {{#tab.pane elementId="GamesBoard"}}
            <h1>Games Board</h1>
            <p>This is "Games Board" content</p>
            {{/tab.pane}}
            {{#tab.pane elementId="About"}}
            <h1>About</h1>
            <p>This is "About" content</p>
            {{/tab.pane}}
        </div>
        {{/x-tab}}
    </div>
</div>